.login-wrapper{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.login-wrapper .login-card {
    background-color: white;
    border-radius: 30px;
    border: solid 1px rgba(128, 128, 128, 0.377);
}
.login-wrapper .login-card img{
    border-radius: 0px 30px 30px 0px;
}
.login-wrapper .login-card .login-fields{
    margin: 4rem 0px;
    padding: 0px 4rem;
}
.login-wrapper .login-card .login-fields h3{
    font-weight: 700;
}
.login-wrapper .login-card .login-fields button{
    width: 100%;
    border-radius: 50px;
    margin-top: 10px;
    text-align: center;
}
.login-wrapper .login-card .login-fields .social-btn{
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.247);
}
.login-wrapper .login-card .login-fields .social-btn svg{
    margin-bottom: 2px;
    margin-right: 5px;
}
 .custom-input{
    border-radius: 50px !important;
    outline: none !important;
    background-color: white;
    box-shadow: none !important;
}
.custom-input:focus{
    outline: none !important;
    border-color: var(--secondary-color);
}
.volunteer-wrapper{
    justify-content: center;
    align-items: center;
    margin: 2rem 20px;

}
.volunteer-wrapper .upper-sec h3{
    font-weight: 700;
    color: var(--secondary-color);
}
.volunteer-wrapper .upper-sec p{
    font-size: 15px;
    color: #0009;
}    
.volunteer-wrapper .volunteer-card {
    /* background-color: rgba(219, 210, 210, 0.418); */
    padding: 30px 5rem;
    margin: 10px;
}
.volunteer-wrapper .volunteer-card .signup-fields {
    background-color: white;
    padding: 30px 4rem;
    box-shadow: 3px 2px 3px 5px rgba(190, 185, 185, 0.575) ;
}

.volunteer-wrapper .volunteer-card button {
    width: 200px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

.policy {
    margin: 5rem 0px;
}
.policy h1 {
    text-align: center;
    font-weight: 600;
    color: var(--main-color);
}
.policy h5{
    font-weight: 600;
    margin: 3rem 0px;
    color: var(--main-color);
}
.policy p{
   color: rgba(0, 0, 0, 0.74);
   font-weight: 500;
   line-height: 2.7;
}

.contact-us-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 0px 16rem;
 
}

.contact-us-wrapper .contact-us-fields {
    background-color: white;
    border: solid 1px rgba(128, 128, 128, 0.377);
    padding:  2rem 10px;
    width: 100%;
    box-shadow: 2px 7px 15px 15px rgba(75, 175, 203, 0.24)

}
.contact-us-wrapper .contact-us-fields h3{
    color: var(--secondary-color);
    font-weight: 700;
}
.contact-us-wrapper .contact-us-fields button{
    border-radius: 50px;
    width: 150px;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.contact-us-wrapper .contact-us-fields .contact-details {
    background-color: var(--main-color);
    box-shadow: 2px 7px 15px 10px rgb(245 51 9 / 30%) ;
    margin-left: -10%;
    padding: 20px;
    color: white;
}
.contact-us-wrapper .contact-us-fields .contact-details h4{
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.contact-us-wrapper .contact-us-fields .contact-details h5{
    margin-bottom: 20px;
}
.contact-us-wrapper .contact-us-fields .contact-details .each-detail{
    margin-top: 10px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.658);
    letter-spacing: 1px;
    cursor: pointer;
}
.contact-us-wrapper .contact-us-fields .contact-details .each-detail span{
    cursor: pointer;
    margin-right: 6px;
}
.contact-us-wrapper .contact-us-fields .contact-details .each-detail:hover{
   color: var(--secondary-color);
}
.contact-us-wrapper .contact-us-fields .contact-details .social-icons{
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.527);
}
.contact-us-wrapper .contact-us-fields .contact-details .social-icons span{
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.527);
    cursor: pointer;
}
.contact-us-wrapper .contact-us-fields .contact-details .social-icons span:hover{
   color: var(--secondary-color);
}