.causes{
    background-color: rgba(221, 210, 210, 0.322);
    padding: 10px 30px;
    margin: 20px 0px;
    color: #0009;
}
.causes .each-cause{
    margin: 30px 0px;
}
.causes .each-cause .image{
    position: relative;
}
.causes .each-cause .range{
    position: absolute;
    bottom: 0;
    background: #ffffff70;
}
.causes .each-cause .range input{
    width: 100%;
    color: var(--main-color) !important;
}

input[type='range']::-webkit-slider-runnable-track {
   
    color: #13bba4 !important;
  }
.causes .each-cause .range input ::-webkit-slider-thumb{
    color: var(--main-color);
    background: #04AA6D;
    cursor: pointer;
  }
.causes .each-cause .content{
    background-color: white;
    padding: 10px 25px;
}
.causes .each-cause .content h3{
    font-weight: 600;
}
.causes .each-cause .content p {
    color: #0008;
}
.causes .each-cause .content .org{
    color: var(--main-color);
}
.causes .each-cause .content button{
    border-radius: 50px;
    color: white;
    background-color: var(--main-color);
    border-color: var(--main-color);
    margin-top: 10px ;
}
.causes .each-cause .content .social-icons {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
}
.causes .each-cause .content .social-icons span{
    border: 1px solid #0008;
    cursor: pointer;
    border-radius: 50%;
    padding: 4px 8px;
    color: var(--main-color);
    margin-right: 5px;
}
.causes .each-cause .content .social-icons span:hover{
    background-color: var(--main-color);
    color: white;
    border-color: var(--main-color);
}

.d-banner{
    background-image: url('../assets/causesbg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    margin-top: 3rem;

}
.d-banner span {
    color: var(--main-color) !important;
    margin: 20px 0px;
}
.d-banner h1{
    color: white;
    font-size: 50px;
    padding: 10px 30%;
    font-weight: 700;
}
.d-banner button{
    background-color: var(--main-color);
    border-color: var(--main-color);
    margin-top: 20px;
}
.d-banner button:focus{
    background-color: var(--main-color);
    border-color: var(--main-color);

}
.d-banner button:hover{
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.causes-details {
    margin: 2rem 0px;
}
.causes-details .indiv-showcase {
   margin: 4rem 0px;

}
.causes-details .indiv-showcase .slick-prev:before{
    color: var(--main-color) !important;

}
.causes-details .indiv-showcase .slick-next:before{
    color: var(--main-color) !important;
  
}
.causes-details .indiv-showcase .slick-prev {
    width: 50px;
    top: 113%;
}
.causes-details .indiv-showcase .slick-next {
    top: 113%;
    width: 50px;
}
.causes-details .indiv-showcase .slick-dots img {
    height: 90px !important;
    width: 90px;
}
.causes-details .indiv-showcase .slick-dots li {
    position: relative;
    display: inline-block;
     width:90px; 
     height:90px;
}
.causes-details .indiv-showcase .slick-dots {
    bottom: -22%;
}
/* .causes-details .indiv-showcase .each-slid{
    border: 1px solid rgba(0, 0, 0, 0.432);
} */
.causes-details .content{
    padding: 0px 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.causes-details .content h4{
    margin-bottom: 20px;
}
.causes-details .content p{
    font-size: 18px;
    line-height: 2.1rem;
    color: #0009;
}

.causes-details .details{
    background-color: red;
    color: white;
    margin-top: 4rem;
    padding-top: 10px
}
.causes-details .details h5{
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.555);

}
.causes-details .details .each-detail{
    border-bottom: 1px solid rgba(255, 255, 255, 0.555);
    padding: 20px 30px ;
}
.causes-details .details .each-detail p{
    margin: 0;
    padding: 0;
}
.causes-details .social-icons {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
}
.causes-details .social-icons span{
    border: 1px solid rgba(0, 0, 0, 0.267);
    cursor: pointer;
    border-radius: 50%;
    padding: 7px 10px;
    color:red;
    margin-right: 10px;
}
.causes-details .social-icons span:hover{
    background-color:red;
    color: white;
    border-color:red;
}

.causes-details  .feature-cause{
    margin: 2rem 0px;
    padding: 1rem
}
.causes-details  .feature-cause h5{
    font-weight: 700;
}
.causes-details  .feature-cause p , .causes-details  .feature-cause span{
    color: #0009;
    letter-spacing: 0.2px;
}
.causes-details  .causes-slider h4{
    font-weight: 700;
}
.causes-details .causes-slider .slick-prev:before{
    color: var(--secondary-color) !important;
    padding: 5px 10px;
    opacity: 100;
}
.causes-details .causes-slider .slick-prev:before:hover , .causes-details .causes-slider .slick-next:before:hover {
    color: white !important;
    background-color: var(--secondary-color) !important;
}
.causes-details .causes-slider .slick-next:before{
    color: var(--secondary-color) !important;
    padding: 5px 10px;
    opacity: 100;

}
.causes-details .causes-slider .slick-prev {
    left: 83%;
    top: -7%;
}
.causes-details .causes-slider .slick-next {
    right: 5%;
    top: -7%
}
.causes-details .causes-slider .each-slid{
    padding: 20px;
    text-align: center;

}
.causes-gallery{
    position: relative;
}
.causes-gallery .causes-gallery-icons{
    position: absolute;
    right: 11%;
    top:2%;
}
.causes-gallery .causes-gallery-icons span{
   background-color: rgba(255, 255, 255, 0.185);
   padding: 10px;
   color: var(--main-color);
   cursor: pointer;
}