.user-tabs{
    margin: 3rem;
    background-color: rgba(255, 255, 255, 0.979);
    padding: 19px 2rem;
    border-radius: 4px;
    border: 1px solid lavender;
    box-shadow: 3px 5px 7px 3px rgba(0, 0, 0, 0.199);
}

.user-tabs .sidebar .user-details {
    background-color: var(--main-color);
    text-align: center;
    padding: 1rem 0px;
    border-radius: 6px 6px 0px 0px;
    color: white;
}
.user-tabs .sidebar .user-details img{
    border-radius: 50%;
    margin-bottom: 20px;
}
.user-tabs .sidebar .user-details p{
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.651);
    margin: 0;
    padding: 0;
}
.user-tabs .sidebar .tabs-links {
    background-color: white;
    padding: 10px;
}
.user-tabs .sidebar .tabs-links .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgb(245 51 9 / 30%) !important;
    color: #0009 !important;
}
.user-tabs .sidebar .tabs-links .nav-pills .nav-link.active  svg {
    color: var(--main-color) !important;
}
.user-tabs .sidebar .tabs-links .nav-link {
   color: #0009;
   padding: 13px 10px;
}

.user-tabs .sidebar .tabs-links .nav-link svg{
    margin-bottom: 3px;
    margin-right: 5px;
}

.user-tabs .tab-content .tab-content>.active {
    background-color: transparent;
}
.user-tabs  .tab-content .each-chart {
    margin-right: 1px;
    border-radius: 6px;
    padding: 0;
    border: 1px solid rgba(235, 223, 223, 0.726);
}
.user-tabs  .tab-content .each-chart .heading{
    padding: 10px;
}
.user-tabs  .tab-content .each-chart .heading p{
    margin: 0;
}
.donation-table h2 {
    text-align: center;
    color: black;
    margin-bottom: 30px;

}
.donation-table img{
    margin-right: 20px;
}