
:root {
    --main-color: rgb(245 51 9);
    --secondary-color: rgb(75 175 203);
}

.ml-auto {
    margin-left: auto;
}
.header-top{
    background-color: rgba(212, 202, 202, 0.37);
    padding: 5px 0;
}
.header-top span {
    background-color: var(--main-color);
    padding: 10px 14px;
    color: white;
    border-radius: 50%;
    margin-left: 13px;
}
.header-top h3{
    color: var(--main-color);
    font-weight: 700;
}
.header-top button {
    background-color: var(--main-color);
    color: white;
    font-weight: 600;
    margin-left: 10px;
    padding: 10px 18px  !important;
    border-radius: 50px !important;
}
 nav {
    top: 0;
    z-index: 999;
    border-bottom: 1px rgba(0, 0, 0, 0.486) solid;
 }

nav .navbar-nav .nav-link {
    font-size: 16px;
    margin-right: 10px;
}
nav .navbar-nav .nav-link:hover , .active{
    background-color: var(--main-color);
    color: white !important;
}
nav .navbar-nav  button{
    padding: 5px 15px;
    margin-top: -5px !important;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    margin-left: 4px;
    border-radius: 50px !important;
 
}
.slider-banner{
    margin-bottom: 3rem;
}
.slider-banner .carousel-caption {
    top: 30% !important;
    justify-content: center !important;
    left: 30% !important;
    right: 30% !important;
     
}

.slider-banner .carousel-caption .card{
 background-color: rgba(255, 255, 255, 0.521) ;
 border: none;
 padding: 20px;
 border-radius: 30px;

}
/* .carousel-control-prev span{
  background-color: var(--main-color) !important;
  padding: 15px !important;
  border-radius: 50%;
} */
.slider-banner .carousel-caption .card .card-body h1{
    font-weight: 700;
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}
.slider-banner .carousel-caption .card .card-body p{
    color: rgba(0, 0, 0, 0.671);
    margin-top: 20px;
}
.slider-banner .carousel-caption .card button{
    padding: 5px 15px;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    margin-top: 10px;
    border-radius: 50px !important;

 
}

.unicare {
    margin: 4rem 0px;
}
.unicare .content {
   padding: 2rem;
}
.unicare .content h6{
    text-transform: uppercase;
    font-weight: 700;
}
.unicare .content h1 {
    color: var(--main-color);
    font-weight: 700;
}
.unicare .content p{
    font-size: 15px;
    color: rgba(22, 22, 22, 0.699);
    padding-right: 40px;
    margin: 30px 0px;
}
.unicare .content button{
    border-color: var(--main-color);
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin-top: 25px;
    border-radius: 50px !important;
}
.unicare .content button:hover{
    color: white;
    background-color: var(--main-color);
}
.unicare .content .counts {
    margin: 10px 0px;
}
.unicare .content .counts svg{
    background-color: rgba(230, 153, 125, 0.329);
    color: var(--main-color);
    margin-top: 15px;
    padding: 5px;
    border-radius : 50% ;
    margin-right: 14px;
}
.unicare .content .counts h3{
   line-height: normal;
   margin: 0;
   color: var(--main-color);
   font-weight: 700
}
.unicare .content .counts p{
    margin: 0;
    font-size: 15px;
}
.unicard {
    margin: 2rem 0px;
}
.unicard .each-card .content h3{
    font-weight: 300;
    padding-top: 2rem;
    padding-bottom: 10px;
}
.unicard .each-card {
    position: relative;
    color: white;
    

}

.unicard .each-card span{
  
    position: absolute;
    top: 82%;
    left: 35%;
    right: 35%;
    z-index: 30;
    background-color: white;
    padding: 25px;
    border-radius: 50%;
    border-width: 5px !important;
  
}
.unicard .each-card img {
    position: absolute;
    z-index: -1;
    top: 90%;
    border-left: 1px solid rgba(201, 189, 189, 0.452);
    margin-bottom: 15rem !important;

    
}
.unicard .each-card .content {
    height: 350px;
    text-align: center;
    padding: 0px 50px;
    border-radius: 0px 0px 30px 30px;
}
.support-us {
    margin-top: 13rem;
    margin-bottom: 3rem;
}
.support-us h5{
    font-weight: 400;
    color: var(--main-color);
    margin-top: 20px;
}
.support-us h3{
    font-weight: 700;
    margin-top: 10px;
}
.support-us .content{
    margin: 30px auto;
    padding-right: 20px;
}
.support-us .content .each-content {
    padding: 20px 5px;
    margin: 0;
}
.support-us .content .each-content h6{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.753);
}
.support-us .content .each-content p{
    margin-top: 30px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.699);
}
.support-us .content .each-content span{
    background-color: white;
    padding: 20px 16px;
    box-shadow:  2px 7px 8px #8888885d;
    border-radius: 50%;
    color: var(--main-color);
    margin-right: 20px;
 
}
footer {
    background-image: url(../assets/footer-background-image.jpg);
    background-position: right;
    background-repeat: no-repeat;
    padding:30px;
    color: white;
}
.footer{
    margin-bottom: 10rem;
}
.map {
    height: 100vh;
    width: 100%;
}
.footer p {
   font-size: 14px;
   color: rgba(255, 255, 255, 0.5);
}
.footer .social-icons span:hover{
    color: white;
    border-color: white;
}
.footer .social-icons span {
    border: 1px solid rgba(255, 255, 255, 0.418);
    color: rgba(255, 255, 255, 0.452);
    padding: 5px 8px;
    border-radius: 50%;
    margin-right: 10px;
}
footer .footer .each-link {
    padding: 20px;
    background-color: rgb(24, 22, 22);
    border-radius: 5px;
}
footer .footer .each-link h6::after , .footer h5::after{
    content: '';
    width: 20%;
    height: 1px;
    display: block;
    background-color: var(--main-color);
    margin-top: 10px;
}

footer .footer .each-link ul{
    padding: 0;
}
footer .footer .each-link li{
    list-style: none;
    font-size: 15px;
    margin-top: 10px;

}
footer .footer .each-link li::after{
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background-color: rgba(255, 255, 255, 0.274);
    margin-top: 10px;

}

footer .footer .each-link a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.568);
    margin: 18px 5px;
}
footer .footer .each-link a:hover{
    color: white;
}
footer .footer h5{
    text-transform: uppercase;
}
footer .footer .newsletter {
    padding: 20px;
    border-radius: 5px;
}
footer .footer .newsletter .custom-input {
    font-size: 14px;
}
footer .footer .newsletter button{
    background-color: var(--main-color);
    width: 40%;
    color: white;
    border-radius: 50px !important;
}
.footer-widget {
   color: white;
   font-weight: 700;
   padding: 10px;
   background-color: var(--main-color);
}
.top-banner{
    background-image: url('../assets//page-banner.jpg');
    background-position: center top;
    background-size: cover;
    height: 350px;
    display: flex;
    text-align: right1;
    justify-content: center;
    align-items:flex-end;
    flex-direction: column;
}
.top-banner h1 {
    padding: 0px 300px;
    z-index: 2;
    font-weight: 700;
    color: black

}
/* .top-banner::before{
    background: rgba(236, 231, 230, 0.425);
    content: "";
    position: absolute;
    top: 18%;
    width: 100%;
    height: 70%;
    z-index: 1;
} */