.recent-news{
    margin: 4rem 2rem;
}
.recent-news h3{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
.recent-news h3::after{
    content: '';
    width: 10%;
    height: 3px;
    display: block;
    background-color: var(--main-color);
    margin-top: 10px;
    margin-left: 45%;
}
.recent-news p{
    text-align: center;
    margin: 20px 0px;
}
.recent-news .all-news {
    margin: 3rem 0px;
}
.recent-news .all-news .each-news .content {
    padding: 20px;
    margin: 30px 0px;
    border: 0.4px solid rgba(167, 164, 164, 0.363);
    border-top: transparent;
}
.recent-news .all-news .each-news .content h6{
    font-weight: 700
}
.recent-news .all-news .each-news .content p{
    text-align: left !important;
    font-size: 14px;
}
.recent-news .all-news .each-news .content button{
    border-radius: 50px;
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.recent-news .all-news .each-news .content  span{
    color: var(--main-color);
    font-size: 13px;
    margin-top: 5px;
}

.popular-post {
    margin: 9rem 1rem;
}
.popular-post h6 {
    margin-bottom: 2rem;
}
.popular-post p {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.733);
}
.popular-post small {
    color: var(--main-color);
    font-size: 12px;
    margin-left: 10px;
}
.pagination-custom {
    display: flex;
    position: relative;
    list-style: none;
    border: none;
    margin: 1rem 2rem;

}
.pagination-custom li{
    padding: 10px 18px;
    border: 1px solid var(--main-color);
    margin: 10px 3px;
    cursor: pointer;
}
.pagination-custom li:hover{
    background-color: var(--main-color);
    color: white;
}

.story {
    padding: 2rem 3rem;
}
.story .userby{
    display: flex;
    margin-top: -20px;
    
}
.story .userby span{
    font-size: 15px;
    margin: 0px 8px;
    color: #000100bb;
}
.story .userby svg{
    margin-bottom: 5px;
    margin-right: 2px;
}
.story .userby img{
    border-radius: 50%;
    margin-top: -3%;
    border: white 3px solid;
}
.story .image{
    margin: 2rem 0px;
}
.story .content{
    padding: 0px 2rem;
}
.story .content h4{
    margin-bottom: 20px;
}
.story .content p{
    font-size: 18px;
    line-height: 2.1rem;
    color: #0009;
}
.story .social-icons{
    margin: 1rem 3rem;
    text-transform: uppercase;
}
.story .social-icons span{
    padding: 10px 16px;
    margin-right: 5px;
    color: white;
    cursor: pointer;
}
.story .social-icons span:hover{
    filter:drop-shadow(3px 3px 3px rgba(128, 128, 128, 0.418));
}
.story .social-icons .fb{
    background-color: rgb(31, 44, 163);
}
.story .social-icons .twitter{
    background-color: rgb(63, 174, 218);
}
.story .social-icons .linkedin{
    background-color: gray;
}
.story .social-icons .google{
    background-color: red;
}
.gallery{
    position: relative;
}
.gallery .gallery-icons{
    position: absolute;
    right: 4%;
    top: 10%;
}
.gallery .gallery-icons span{
   background-color: black;
   padding: 10px;
   color: var(--main-color);
   cursor: pointer;
}